@import "tailwindcss";

@font-face {
  font-family: "Beausite Classic";
  src: url("/fonts/beausite_classic/BeausiteClassicWeb-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: light;
  font-display: swap;
}

@font-face {
  font-family: "Beausite Classic";
  src: url("/fonts/beausite_classic/BeausiteClassicWeb-Clear.woff2")
    format("woff2");
  font-weight: 350;
  font-style: clear;
  font-display: swap;
}

@font-face {
  font-family: "Beausite Classic";
  src: url("/fonts/beausite_classic/BeausiteClassicWeb-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beausite Classic";
  src: url("/fonts/beausite_classic/BeausiteClassicWeb-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@theme {
  --*: initial;

  --color-black: oklch(0 0 0);
  --color-white: oklch(1 0 0);

  --spacing: 5px;

  --breakpoint-lg: 1024px;

  --font-sans: "Beausite Classic", ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;

  --text-xs: 10px;
  --text-xs--line-height: 13px;
  --text-sm: 12px;
  --text-sm--line-height: 15px;
  --text-base: 14px;
  --text-base--line-height: 19px;
  --text-lg: 17px;
  --text-lg--line-height: 22.5px;
  --text-xl: 18px;
  --text-2xl: 21px;
  --text-3xl: 24px;
  --text-3xl--line-height: 26px;
  --text-4xl: 26px;
  --text-4xl--line-height: 30px;
  --text-5xl: 30px;

  --font-weight-light: 300;
  --font-weight-clear: 350;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
}

@layer base {
  * {
    letter-spacing: -0.01em;
  }
}
